.heart {
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  width: 1000px;
  height: 500px;
}
img {
  width: 100%;
  position: absolute;
}
p {
  position: absolute;

  font-size: 200px;
  color: red;
  left: 42%;
}
